body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}
.welcome-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sub-text {
    font-size: 18px;
    color: #666;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #009688;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}